/.vs/LensAngleApp/v16/*.suo
/.vs/WinFormsApp1/DesignTimeBuild/*.v2
/.vs/WinFormsApp1/v16/*.suo
/.vs/WinFormsApp1/v16/TestStore/0/*.testlog
/.vs/WinFormsApp1/v16/TestStore/0/*.manifest
/bin/Debug/netcoreapp3.1/*.json
/bin/Debug/netcoreapp3.1/*.dll
/bin/Debug/netcoreapp3.1/*.exe
/bin/Debug/netcoreapp3.1/*.pdb
/obj/Debug/netcoreapp3.1/*.cs
/obj/Debug/netcoreapp3.1/*.cache
/obj/Debug/netcoreapp3.1/*.editorconfig
/obj/Debug/netcoreapp3.1/*.txt
/obj/Debug/netcoreapp3.1/*.json
/obj/Debug/netcoreapp3.1/*.dll
/obj/Debug/netcoreapp3.1/*.pdb
/obj/Debug/netcoreapp3.1/*.exe
/obj/*.json
/obj/*.props
/obj/*.targets
/obj/*.cache
/ViewAngleTest/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.deps.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.exe
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.pdb
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.runtimeconfig.dev.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/LensAngleApp.runtimeconfig.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.AdapterUtilities.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ViewAngleTest.deps.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/ViewAngleTest.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ViewAngleTest.pdb
/ViewAngleTest/bin/Debug/netcoreapp3.1/ViewAngleTest.runtimeconfig.dev.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/ViewAngleTest.runtimeconfig.json
/ViewAngleTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/testhost.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/testhost.exe
/ViewAngleTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ViewAngleTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ViewAngleTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.AssemblyInfo.cs
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.AssemblyInfoInputs.cache
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.GeneratedMSBuildEditorConfig.editorconfig
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.assets.cache
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.csproj.AssemblyReference.cache
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.csproj.CopyComplete
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.csproj.CoreCompileInputs.cache
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.csproj.FileListAbsolute.txt
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.dll
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.genruntimeconfig.cache
/ViewAngleTest/obj/Debug/netcoreapp3.1/ViewAngleTest.pdb
/ViewAngleTest/obj/ViewAngleTest.csproj.nuget.dgspec.json
/ViewAngleTest/obj/ViewAngleTest.csproj.nuget.g.props
/ViewAngleTest/obj/ViewAngleTest.csproj.nuget.g.targets
/ViewAngleTest/obj/project.assets.json
/ViewAngleTest/obj/project.nuget.cache
/obj/Debug/netcoreapp3.1/LensAngle.LensAngle.resources
