/.vs/LensAngleApp/v16/*.suo
/.vs/WinFormsApp1/DesignTimeBuild/*.v2
/.vs/WinFormsApp1/v16/*.suo
/.vs/WinFormsApp1/v16/TestStore/0/*.testlog
/.vs/WinFormsApp1/v16/TestStore/0/*.manifest
/bin/Debug/netcoreapp3.1/*.json
/bin/Debug/netcoreapp3.1/*.dll
/bin/Debug/netcoreapp3.1/*.exe
/bin/Debug/netcoreapp3.1/*.pdb
/obj/Debug/netcoreapp3.1/*.cs
/obj/Debug/netcoreapp3.1/*.cache
/obj/Debug/netcoreapp3.1/*.editorconfig
/obj/Debug/netcoreapp3.1/*.txt
/obj/Debug/netcoreapp3.1/*.json
/obj/Debug/netcoreapp3.1/*.dll
/obj/Debug/netcoreapp3.1/*.pdb
/obj/Debug/netcoreapp3.1/*.exe
/obj/*.json
/obj/*.props
/obj/*.targets
/obj/*.cache
